@using WebAPI.Clients;
@using WebAPI.CollaboratorRoles
@using WebAPI.Collaborators
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

<ModalForm HtmxProps=@(new HtmxProps(WebAPI.Proformas.Endpoints.EditWorkItem,$"#{ListProformaWeekWorkItemsPage.List}",Swap.OuterHTML,$"#{ListProformaWeekWorkItemsPage.List}"){Vals=$$"""{"proformaId":"{{ProformaWeekWorkItem.ProformaId}}", "week":"{{ProformaWeekWorkItem.Week}}", "collaboratorId":"{{ProformaWeekWorkItem.CollaboratorId}}"}"""})
           Title=@Endpoints.EditWorkItemTitle>
    <Content>
        <FormRow>
            <Content>
                <div class="col-6">
                    <NumberInput Property=@nameof(AddWorkItem.Command.Hours)
                                 Label="Hours"
                                 Placeholder="Enter hours"
                                 Sufix="hr"
                                 Min=0
                                 Step=0.0001m
                                 Value=@ProformaWeekWorkItem.Hours
                                 Required=true />
                </div>
                <div class="col-6">
                    <NumberInput Property=@nameof(AddWorkItem.Command.FreeHours)
                                 Label="Free Hours"
                                 Placeholder="Enter free hours"
                                 Sufix="hr"
                                 Min=0
                                 Step=0.0001m
                                 Value=@ProformaWeekWorkItem.FreeHours
                                 Required=true />
                </div>
            </Content>
        </FormRow>
    </Content>
</ModalForm>

@code {
    [Parameter, EditorRequired]
    public ProformaWeekWorkItem ProformaWeekWorkItem { get; set; } = default!;
}
