@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using WebAPI.Projects;

<div id=@List>
    <DataTable TResult=ListClientContacts.Result
               Result=@Result.Items
               Context="item">
        <TableHeader>
            <th></th>
            <th>Name</th>
            <th>Email</th>
        </TableHeader>
        <RowTemplate>
            <RowToolbar>
                <Actions>
                    <ActionLink HtmxProps=@(new HtmxProps(Endpoints.Edit, $"#{WebAPI.Users.MainPage.Dialog}"){Vals=$$"""{"clientId":"{{item.ClientId}}", "clientContactId":"{{item.ClientContactId}}"}"""})
                                Icon=@Icons.Edit />
                </Actions>
            </RowToolbar>
            <td>@item.Name</td>
            <td>@item.Email</td>
        </RowTemplate>
    </DataTable>
    <Pagination Query=@Query
                Result=@Result
                HtmxProps=@(new HtmxProps(Endpoints.List,$"#{List}", Swap.OuterHTML){Vals=$$"""{"clientId":"{{Query.ClientId}}"}"""}) />
</div>

@code {
    [Parameter, EditorRequired]
    public ListResults<ListClientContacts.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListClientContacts.Query Query { get; set; } = default!;

    public const string List = "client-contact-list-target";
}
