@using WebAPI.CollaboratorRoles;
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using global::Infrastructure

<Heading Text=@Endpoints.Title />
<Breadcrumbs Links=@(new []{new Breadcrumbs.Link(Endpoints.ListTitle)})
             Target=@($"#{WebAPI.Users.MainPage.Workspace}") />
<Toolbar>
    <Actions>
        <ActionButton Text=@Endpoints.RegisterTitle
                      Icon=@Icons.Add
                      HtmxProps=@(new HtmxProps(Endpoints.Register, $"#{WebAPI.Users.MainPage.Workspace}")) />
    </Actions>
</Toolbar>
<Section>
    <Content>
        <FormRow>
            <Content>
                <div class="col">
                    <SearchFilter Label="Name"
                                  Property=@nameof(ListCollaboratorRoles.Query.Name)
                                  Query=@Query
                                  HtmxProps=@(new HtmxProps(Endpoints.List, $"#{List}", Swap.OuterHTML, $"#{List}")) />
                </div>
            </Content>
        </FormRow>
        <div id=@List>
            <DataTable TResult=ListCollaboratorRoles.Result
                       Result=@Result.Items
                       Context="item">
                <TableHeader>
                    <th></th>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th class="text-end">Fee Amount</th>
                    <th class="text-end">Profit Percentage</th>
                </TableHeader>
                <RowTemplate>
                    <RowToolbar>
                        <Actions>
                            <ActionLink HtmxProps=@(new HtmxProps(Endpoints.Edit, $"#{WebAPI.Users.MainPage.Workspace}"){Vals=$$"""{"collaboratorRoleId":"{{item.CollaboratorRoleId}}"}"""})
                                        Icon=@Icons.Edit />
                        </Actions>
                    </RowToolbar>
                    <td>@item.CollaboratorRoleId</td>
                    <td>@item.Name</td>
                    <td class="text-end">@item.FeeAmount.ToMoneyFormat()</td>
                    <td class="text-end">@item.ProfitPercentage.ToPercentageFormat()</td>
                </RowTemplate>
            </DataTable>
            <Pagination Query=@Query
                        Result=@Result
                        HtmxProps=@(new HtmxProps(Endpoints.List, $"#{List}", Swap.OuterHTML, $"#{List}"))
                        Parameters=@(new[] { new KeyValuePair<string, object?>(nameof(Query.Name), Query.Name) }) />
        </div>
    </Content>
</Section>
@code {
    [Parameter, EditorRequired]
    public ListResults<ListCollaboratorRoles.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListCollaboratorRoles.Query Query { get; set; } = default!;

    public const string List = "collaborator-role-list-target";
}
