@using WebAPI.Collaborators
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using WebAPI.Proformas

<Heading Text=@CollaboratorPayments.Endpoints.Title />
<Breadcrumbs Links=@(new Breadcrumbs.Link[]{ new(CollaboratorPayments.Endpoints.ListTitle,CollaboratorPayments.Endpoints.List.AddListParameters()), new(Endpoints.RegisterTitle) })
             Target=@($"#{WebAPI.Users.MainPage.Workspace}") />
<Section>
    <Content>
        <Form HtmxProps=@(new HtmxProps(Endpoints.Register, $"#{WebAPI.Users.MainPage.Workspace}"))>
            <Content>
                <FormRow>
                    <Content>
                        <div class="col-6">
                            <SelectInput Property=@nameof(StartProformaToCollaboratorPaymentProcess.Command.CollaboratorId)
                                         Label="Collaborator"
                                         HtmxProps=@(new HtmxProps(@Proformas.Endpoints.SearchNotAddedToCollaboratorPayment, $"#{nameof(StartProformaToCollaboratorPaymentProcess.Command.ProformaId)}"){Include=$"#{nameof(StartProformaToCollaboratorPaymentProcess.Command.Currency)}"})
                                         Source=@Collaborators.ToDictionary(c=>c.CollaboratorId, c=>c.Name)
                                         Required=true>
                            </SelectInput>
                        </div>
                        <div class="col-6">
                            <SelectInput Property=@nameof(StartProformaToCollaboratorPaymentProcess.Command.Currency)
                                         Label="Currency"
                                         Source=@(Enum.GetValues<Currency>().ToDictionary(i=>i.ToString(), i=>i.ToString()))
                                         HtmxProps=@(new HtmxProps(@Proformas.Endpoints.SearchNotAddedToCollaboratorPayment, $"#{nameof(StartProformaToCollaboratorPaymentProcess.Command.ProformaId)}"){Include=$"#{nameof(StartProformaToCollaboratorPaymentProcess.Command.CollaboratorId)}"})
                                         Required=true>
                            </SelectInput>
                        </div>
                    </Content>
                </FormRow>
                <FormRow>
                    <Content>
                        <div class="col">
                            <SelectInput Property=@(nameof(StartProformaToCollaboratorPaymentProcess.Command.ProformaId))
                                         Label="Proformas"
                                         Required=true
                                         Multiple=true
                                         TKey=Guid>
                            </SelectInput>
                        </div>
                    </Content>
                </FormRow>
            </Content>
        </Form>
    </Content>
</Section>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<Collaborator> Collaborators { get; set; } = default!;
}
