@using WebAPI.Clients;
@using WebAPI.CollaboratorRoles
@using WebAPI.Collaborators
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

<ModalForm HtmxProps=@(new HtmxProps(Endpoints.Confirm, $"#{WebAPI.Users.MainPage.Workspace}"){Vals=$$"""{"collectionId":"{{CollectionId}}"}"""})
           Title=@Endpoints.ConfirmTitle>
    <Content>
        <FormRow>
            <Content>
                <div class="col-6">
                    <NumberInput Property=@nameof(ConfirmCollection.Command.Total)
                                 Label="Total"
                                 Placeholder="Enter Total"
                                 Prefix="$"
                                 Min=0.01m
                                 Step=0.01m
                                 Value=0
                                 Required=true />
                </div>
                <div class="col-6">
                    <NumberInput Property=@nameof(ConfirmCollection.Command.Commission)
                                 Label="Commission"
                                 Placeholder="Enter Commission"
                                 Prefix="$"
                                 Min=0
                                 Step=0.01m
                                 Value=0
                                 Required=true />
                </div>
                <div class="col-6">
                    <TextInput Property=@nameof(ConfirmCollection.Command.Number)
                               Label="Number"
                               Placeholder="Enter Number"
                               MaxLenght=50
                               Required=true>
                    </TextInput>
                </div>
                <div class="col-6">
                    <DateInput Property=@nameof(ConfirmCollection.Command.ConfirmedAt)
                               Label="Date"
                               Required=true />
                </div>

            </Content>
        </FormRow>
    </Content>
</ModalForm>

@code {
    [Parameter, EditorRequired]
    public Guid CollectionId { get; set; } = default;
}
