@using WebAPI.CollaboratorRoles;
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using WebAPI.Proformas

<Heading Text=@Endpoints.Title />
<Breadcrumbs Links=@(new Breadcrumbs.Link[]{ new(Endpoints.ListTitle, Endpoints.List.AddListParameters()), new(Endpoints.RegisterTitle) })
             Target=@($"#{WebAPI.Users.MainPage.Workspace}") />
<Section>
    <Content>
        <Form HtmxProps=@(new HtmxProps(@Endpoints.Register,$"#{WebAPI.Users.MainPage.Workspace}"))>
            <Content>
                <FormRow>
                    <Content>
                        <div class="col">
                            <TextInput Property=@nameof(RegisterTransaction.Command.Description)
                                       Label="Description"
                                       Placeholder="Enter description"
                                       MaxLenght=1000
                                       Required=true />
                        </div>
                    </Content>
                </FormRow>
                <FormRow>
                    <Content>
                        <div class="col-4">
                            <SelectInput Property=@nameof(RegisterTransaction.Command.Type)
                                         Label="Type"
                                         Source=@(Enum.GetValues<TransactionType>().ToDictionary(i=>i.ToString(), i=>i.ToString()))
                                         Required=true>
                            </SelectInput>
                        </div>
                        <div class="col-4">
                            <TextInput Property=@nameof(RegisterTransaction.Command.Number)
                                       Label="Number"
                                       Placeholder="Enter number"
                                       MaxLenght=50 />
                        </div>
                        <div class="col-4">
                            <DateInput Property=@nameof(RegisterTransaction.Command.IssuedAt)
                                       Label="Issued at"
                                       Required=true />
                        </div>
                    </Content>
                </FormRow>
                <FormRow>
                    <Content>
                        <div class="col-4">
                            <SelectInput Property=@nameof(RegisterTransaction.Command.Currency)
                                         Label="Currency"
                                         Source=@(Enum.GetValues<Currency>().ToDictionary(i=>i.ToString(), i=>i.ToString()))
                                         Required=true>
                            </SelectInput>
                        </div>
                        <div class="col-4">
                            <NumberInput Property=@nameof(RegisterTransaction.Command.SubTotal)
                                         Label="Sub total"
                                         Placeholder="Enter subtotal"
                                         Prefix="$"
                                         Min=0.01m
                                         Step=0.01m
                                         Value="0"
                                         Required=true />
                        </div>
                        <div class="col-4">
                            <NumberInput Property=@nameof(RegisterTransaction.Command.Taxes)
                                         Label="Taxes"
                                         Placeholder="Enter taxes"
                                         Prefix="$"
                                         Min=0
                                         Step=0.01m
                                         Value="0"
                                         Required=true />
                        </div>
                    </Content>
                </FormRow>
            </Content>
        </Form>
    </Content>
</Section>

@code {

}
