<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id=@Id class="toast align-items-center text-bg-@GetToastType() border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public string Id { get; set; } = default!;
    [Parameter]
    public ToastType Type { get; set; } = ToastType.Message;

    private string GetToastType()
    {
        if (Type == ToastType.Message)
        {
            return "primary";
        }
        if (Type == ToastType.Success)
        {
            return "success";
        }
        return "danger";
    }

    public enum ToastType
    {
        Message,
        Success,
        Error
    }
}
